<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="about.php" class="navigation-links-navlink"><span>About</span></a>
    <a href="booking.html" class="navigation-links-text">
      <span>Booking</span>
    </a>
    <a href="contact.php" class="navigation-links-text1">
      <span>Contact</span>
    </a>
    <a href="location.php" class="navigation-links-text2">
      <span>Location</span>
    </a>
    <a href="services.php" class="navigation-links-text3">
      <span>Services</span>
    </a>
  </nav>
</div>
